.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

.gradle
build/
out/
artifacts/
releases/
packages
.pub/
.dart-tool/
material-design-icons/
.atom/
.generated/
.flutter-plugins
*.iml
.idea
local.properties

.idea/*.time
.idea/sonarlint/
.idea/assetWizardSettings.xml
android/.idea/*.time
android/.idea/sonarlint/
android/.idea/assetWizardSettings.xml
android.zip

Podfile.lock
node_modules
